body {background-color: beige;}
body{color:rgb(75, 75, 146)}


h1 {color: rgb(10, 10, 10);}

p{font-size: 20px; text-align: justify; /* Paragrafo com tamanho maior */
    
}

p{text-align: center;}

.link {color: brown;
}
.link:hover {color:blue}



.supertitulo{text-align: center;}
.img {
border-radius: 5px;
width: 300px;
}
table {
    border: 10px;
    padding: 1px;
    margin: 10px;
    width: 50px;
    height: 100px;
    background-color:burlywood;
}

.img1 {
    border: 10px;
    padding: 3px;
    margin: 5px;
    width: 200px;
    height: 150px;
    background-color:blue;
}

.img2 {
    border: 10px;
    padding: 3px;
    margin: 5px;
    width: 200px;
    height: 150px;
    background-color:white;
}

.img3 {
    border: 10px;
    padding: 2px;
    margin: 5px;
    width: 200px;
    height: 150px;
    background-color:rgb(239, 68, 68);
}
